{% extends 'layout.html' %}
{%block content%}
<style>
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
</style>
<div class="about">
    <h4>Currently working as a Associate Software Engineer in Mphasis</h4>
        <h4>Domain: Python</h4>
        <h3>Project Experience</h3>
    <p><i class="arrow right"></i> Worked on Python Scripts to automate the enviornment Healthcheck and integrate it to Angular Dashboard</p>
    <p><i class="arrow right"></i> Experience on working with Python Frameworks Django and Flask.</p>
    <p><i class="arrow right"></i> Worked on Machine Learning Datasets and Algorithms</p>
    <p><i class="arrow right"></i> Knowledge on Python Libraries like Scikit-Learn,Numpy,Pandas</p>
    
    
</div>

 {%endblock%}