{% extends 'layout.html' %}
{%block content%}

</head>
<body>

<h4>Contact Details</h4>


<div class="row">
  <div class="column">
    <div class="card">
      <h3>Phone</h3>
      <p>+91-9739481866</p>
      <p>+91-8073556606</p>   
      
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3>Email</h3>
      <p>anudeepstty@gmail.com</p>
      <p>Bengaluru</p>
      
    </div>

  </div>
  

  
  <div class="column">
    <div class="card">
      <h3>Github</h3>
      <p><a href="https://github.com/AnudeepShetty007" target="_blank"> Click here</a></p>
      
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>Website</h3>
      <p><a href="https://anudeepportfolio.herokuapp.com" target="_blank"> Click here</a></p>
      
    </div>
  </div>
</div>



 {%endblock%}

